.Header-div {
  box-shadow: 1px 3px 4px #00000059;
  display: flex;

  img {
    height: 150px;
    border-radius: 50%;
    border: 2px black solid;
    margin: 10px;

  }

  .Header-div-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  h1,
  h2,
  p {
    padding: 0 0 10px 0;
    margin: 0;
  }

  h1{
    @include text(50px, 700);
  }

  h2{
    @include text(26px, 700);
    font-style: italic;
  }

}